---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Bienvenido a Astro">
 <main>
    <h1 class="text-center text-7xl font-extrabold">Dev 👩‍💻
        <span class="block">Books</span></h1>
 </main>
</Layout>